<footer class="footer">
  <div>
    <h3>Info</h3>
    <a href="#">Support</a><br>
    <a href="#">Affiliate disclosure</a>
  </div>
  <div>
    <h3>Listen</h3>
    <a href="https://podcasts.apple.com/us/podcast/stories-for-earth-climate-change-in-pop-culture/id1478061144" target="_blank">Apple Podcasts</a><br>
    <a href="https://open.spotify.com/show/1p08YiP5SoxJEoFJyeebxR?si=398798ebd5154163" target="_blank">Spotify</a><br>
    <a href="https://www.pandora.com/podcast/stories-for-earth-climate-change-in-pop-culture/PC:1000463345" target="_blank">Pandora</a><br>
    <a href="https://music.amazon.com/podcasts/f7b45e4f-8972-487f-8bba-4270814e9779/stories-for-earth-climate-change-in-pop-culture" target="_blank">Amazon Music</a><br>
    <a href="https://anchor.fm/s/113fd96c/podcast/rss" target="_blank">RSS</a>
  </div>
  <div>
    <h3>Site</h3>
    <a href="/about/">About</a><br>
    <a href="/category/episodes/">Episodes</a><br>
    <a href="/start-here/">New? Start here</a><br>
    <a href="/category/blog/">Blog</a><br>
    <a href="/friends/">Friends</a>
  </div>
  <div>
    <h3>Connect</h3>
    <div class="social-icons">
      {%- include social.html -%}
    </div>
  </div>
  <div class="creative-commons">
    <div>
      <figure>
        <div>
          <picture>
            <source type="image/webp" srcset="/assets/media/cc.xlarge.webp">
            <img src="/assets/media/cc.xlarge.webp" loading="lazy" width="25px" height="25px" style="aspect-ratio: 1 / 1;">
          </picture>
        </div>
      </figure>
      <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.</a></p>
    </div>
  </div>
</footer>