// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.post-metadata {
    display: flex;
    gap: .3em;
    color: #5E5E5E;
    padding-bottom: .5em;
}

.podcast-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    align-items: start;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.podcast-artwork {
    grid-column: 1;
    grid-row: 1 / 4; /* Span all rows */
}

.podcast-artwork img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.podcast-title {
    grid-column: 2;
    grid-row: 1;
    font-size: 2em;
    margin: 0;
}

.podcast-description {
    grid-column: 2;
    grid-row: 2;
    font-size: 1em;
    color: #666;
    margin: 0;
}

.podcast-links {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.podcast-links a {
  
}

 .podcast-player {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    position: -webkit-fixed;
    position: fixed;
    bottom: 0;
    padding-bottom: 2em;
    }

  .player-window {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 50%;
    height: 80px;
    -webkit-justify-content: center;
    justify-content: center;
    box-shadow: 1px 4px 5px gray;
  }

 .podcast-wrapper {
    max-width: 1920px;
    padding-left: calc(100% * .08);
    padding-right: calc(100% * .08);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    gap: calc(100% * 0.05);
    }
 .podcast-item:nth-child(1) {
    -webkit-order: 1;
    order: 1;
    -webkit-flex: 0 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
    }

 .podcast-item:nth-child(2) {
    -webkit-order: 2;
    order: 2;
    -webkit-flex: 0 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
    }

    @media (max-width: 810px) {
      .podcast-wrapper {
        flex-direction: column;
        padding-left: calc(100% * 0.05);
      }
      .player-window {
        width: 100%;
      }

      .podcast-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 20px;
    }

    .podcast-player {
        width: 90%;
        padding-left: calc(100% * .05);
        padding-right: calc(100% * .05);
    }

    .podcast-artwork {
        grid-column: 1;
        grid-row: 1;
    }

    .podcast-title {
        grid-column: 1;
        grid-row: 2;
    }

    .podcast-description {
        grid-column: 1;
        grid-row: 3;
    }

    .podcast-links {
        grid-column: 1;
        grid-row: 4;
        justify-content: flex-start; /* Align links to the left on small screens */
    }
  }

  .body-container {
    display: grid;
    grid-template-columns: 200px 1fr; /* Navigation and content columns */
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Begin side blog navigation custom CSS */

.side-nav {
    position: sticky;
    top: 20px; /* Adjust as needed */
    align-self: start;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav li {
    margin-bottom: 10px;
}

.side-nav a {
    text-decoration: none;
    transition: color 0.3s;
}

.side-nav a:hover {
    color: #0056b3;
}

/* End side blog navigation custom CSS */

.page-contents {
    padding: 20px;
}

.blog-post-contents {
    padding: 1em 18em 1em 18em;
}

.episode-title {
    font-size: $base-font-size * 1.5;
}

/* Begin "Read More" custom CSS at the bottom of posts and episodes */

.read-more {
    display: grid;
    grid-template-columns: 1;
    padding: 0em 18em 0em 18em;
}

.keep-reading {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
    grid-gap: 1em;
    padding: 0em 18em 7em 18em;

    ul {
        list-style-type: none;
    }

}

/* End "Read More" custom CSS */

/* Responsive design for mobile devices */
@media (max-width: 810px) {
    .read-more {
        padding: 20px;
    }

    .keep-reading {
        grid-template-columns: 1fr;
        padding: 0px 20px 7em 20px;

    }

    .body-container {
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 0;
    }

    .side-nav {
        display: none;
    }

    .page-contents {
        padding: 20px;
    }

    .episode-title {
        font-size: $base-font-size * 1.1;
    }

    .blog-post-contents {
        padding: 20px;
    }
}

/* Begin custom footer CSS */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px 40px 20px 40px;
  }

  .footer a {
    color: #5E5E5E;
    
    a::hover {
        text-decoration: underline;
    }
  }

  .footer div {
    margin-bottom: 10px;
  }

  .footer .social-icons {
    display: flex;
    gap: 10px;
  }

  .footer .social-icons a {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .footer .creative-commons {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .footer .creative-commons a {
    display: inline-block;
  }
/* End custom footer CSS */