<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

  <body>

    {%- include header.html -%}

    <script>
      <!-- Begin JS to generate jump nav -->
      document.addEventListener("DOMContentLoaded", function() {
          const navLinks = document.getElementById('nav-links');
          const headers = document.querySelectorAll('.page-contents h2');
  
          headers.forEach(header => {
              // Create an ID for the header if it doesn't already have one
              if (!header.id) {
                  header.id = header.textContent.replace(/\s+/g, '-').toLowerCase();
              }
  
              // Create a list item and anchor element
              const li = document.createElement('li');
              const a = document.createElement('a');
              a.href = `#${header.id}`;
              a.textContent = header.textContent;
  
              // Append the anchor to the list item and the list item to the nav
              li.appendChild(a);
              navLinks.appendChild(li);
          });
      });

      <!-- End JS to generate jump nav -->
      <!-- Begin JS to format date -->
      document.addEventListener('DOMContentLoaded', function() {
    var dateElements = document.querySelectorAll('.date[data-date]');
    
    dateElements.forEach(function(element) {
        var dateStr = element.getAttribute('data-date');
        var dateParts = dateStr.split('-'); // Split by hyphen instead of slash
        var year = dateParts[0];
        var month = dateParts[1];
        var day = dateParts[2];
        
        var months = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        
        var formattedDate = months[parseInt(month) - 1] + ' ' + parseInt(day) + ', ' + year;
        
        element.textContent = formattedDate;
    });
});
      <!-- End JS to format date -->
  </script>

    <main class="page-content" aria-label="Content">
      <div class="podcast-container">
        <div class="podcast-artwork">
            <figure>
              <div>
                <picture>
                 <source type="image/webp" srcset="{{ page.artwork | escape }}.webp"><img src="{{ page.artwork | escape }}.jpg" alt="The show art for Stories for Earth." width="200px" height="200px" style="aspect-ratio: 1 /1;">
                </picture>
              </div>
            </figure>
        </div>
        <div class="podcast-details">
            <h1 class="episode-title" id="top">{{ page.title | escape }}</h1>
            <div class="post-metadata">
              <div><em>by</em> {{ page.author | escape }} •</div>
              <div class="date" data-date="{{ page.publication-date }}"></div>
            </div>
            <p class="episode-description">{{ page.excerpt | escape }}</p>
            <div class="podcast-links">
              <a href="{{ page.listening-links.apple-podcasts }}" class="apple" target="_blank">
                <figure>
                  <picture
                    <source type="image/webp" srcset="/assets/media/en-us-small@1x.webp">
                    <img src="/assets/media/en-us-small@1x.png" alt="Official badge for Apple Podcasts." width="150px" height="55px" style="aspect-ratio: 1 / calc(55 / 150);"
                  </picture>
                </figure>
              </a>
              <a href="{{ page.listening-links.spotify }}" class="spotify" target="_blank">
                <figure>
                  <picture
                    <source type="image/webp" srcset="/assets/media/Spotify_Full_Logo_RGB_Black.webp">
                    <img src="/assets/media/Spotify_Full_Logo_RGB_Black.png" alt="Official badge for Spotify." width="120px" height="32.8px" style="aspect-ratio: 1 / calc(41 / 150); padding-top: 10%;"
                  </picture>
                </figure>
              </a>
              <a href="{{ page.listening-links.pandora }}" class="stitcher" target="_blank">
                <figure>
                  <picture
                    <source type="image/webp" srcset="assets/media/Pandora_Wordmark_Black.webp">
                    <img src="/assets/media/Pandora_Wordmark_Black.png" alt="Official badge for Pandora." width="120" height="24.8px" style="aspect-ratio: 1 / calc(31 / 150); padding-top: 14%;"
                  </picture>
                </figure>
              </a>
              <a href="{{ page.listening-links.download }}" class="download" target="_blank">
                <figure>
                  <picture
                    <source type="image/webp" srcset="/assets/media/download_24dp_FILL0_wght400_GRAD0_opsz24.webp">
                    <img src="/assets/media/download_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="Download symbol for downloading the podcast episode." width="30px" height="30px" style="aspect-ratio: 1 / 1; padding-top: 35%;"
                  </picture>
                </figure>
              </a>
</div>
        </div>
    </div>
      </main>

      <div class="body-container">
        <nav class="side-nav">
          <div style="color: dimgray;"><strong>Jump to:</strong></div>
        <ul id="nav-links">
          <a href="#top">(Top)</a>
            <!-- Links will be dynamically generated here -->
        </ul>
      </nav>
        <div class="page-contents">
            {%- include affiliate-disclaimer.html -%}
            {{ content }}
        </div>
    </div>

      <div>
        <div>{%- include embed-audio.html -%}</div>
      </div>
    </main>

    {%- include custom-footer.html -%}

  </body>

</html>