<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

  <body>

    {%- include header.html -%}

    <script>
      // Begin JS to generate jump nav
      document.addEventListener("DOMContentLoaded", function() {
          const navLinks = document.getElementById('nav-links');
          const headers = document.querySelectorAll('.page-contents h2');
  
          headers.forEach(header => {
              // Create an ID for the header if it doesn't already have one
              if (!header.id) {
                  header.id = header.textContent.replace(/\s+/g, '-').toLowerCase();
              }
  
              // Create a list item and anchor element
              const li = document.createElement('li');
              const a = document.createElement('a');
              a.href = `#${header.id}`;
              a.textContent = header.textContent;
  
              // Append the anchor to the list item and the list item to the nav
              li.appendChild(a);
              navLinks.appendChild(li);
          });
      });

      // End JS to generate jump nav
  </script>
    <main class="page-content" aria-label="Content">
      <nav class="breadcrumb" aria-label="breadcrumb">← <a href="/category/episodes">Back to Episodes</a></nav>
      <div class="podcast-container">
        <div class="podcast-artwork">
            <figure>
              <div>
                <picture>
                 <source type="image/webp" srcset="{{ page.artwork | escape }}.webp"><img src="{{ page.artwork | escape }}.jpg" alt="The show art for Stories for Earth." width="200px" height="200px" style="aspect-ratio: 1 /1;">
                </picture>
              </div>
            </figure>
        </div>
        <div class="podcast-details">
            <h1 class="episode-title" id="top">{{ page.title | escape }}</h1>
            <div class="post-metadata">
              {%- if page.date -%}
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: date_format }}
              </time>
              {%- endif -%}
              {%- if page.modified_date -%}
                ~ 
                {%- assign mdate = page.modified_date | date_to_xmlschema -%}
                <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
                  {{ mdate | date: date_format }}
                </time>
              {%- endif -%}
              {%- if page.author -%}
                • {% for author in page.author %}
                  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                    {%- if forloop.last == false %}, {% endif -%}
                {% endfor %}
              {%- endif -%}</p>
            </div>
            <p class="episode-description">{{ page.excerpt | escape }}</p>
            <div class="podcast-links">
              <a href="{{ page.listening-links.apple-podcasts }}" class="apple" target="_blank">
                <figure>
                  <picture
                    <source type="image/webp" srcset="/assets/media/en-us-small@1x.webp">
                    <img src="/assets/media/en-us-small@1x.png" alt="Official badge for Apple Podcasts." width="150px" height="55px" style="aspect-ratio: 1 / calc(55 / 150);"
                  </picture>
                </figure>
              </a>
              <a href="{{ page.listening-links.spotify }}" class="spotify" target="_blank">
                <figure>
                  <picture
                    <source type="image/webp" srcset="/assets/media/Spotify_Full_Logo_RGB_Black.webp">
                    <img src="/assets/media/Spotify_Full_Logo_RGB_Black.png" alt="Official badge for Spotify." width="120px" height="32.8px" style="aspect-ratio: 1 / calc(41 / 150); padding-top: 10%;"
                  </picture>
                </figure>
              </a>
              <a href="{{ page.listening-links.pandora }}" class="stitcher" target="_blank">
                <figure>
                  <picture
                    <source type="image/webp" srcset="assets/media/Pandora_Wordmark_Black.webp">
                    <img src="/assets/media/Pandora_Wordmark_Black.png" alt="Official badge for Pandora." width="120" height="24.8px" style="aspect-ratio: 1 / calc(31 / 150); padding-top: 14%;"
                  </picture>
                </figure>
              </a>
              <a href="{{ page.listening-links.download }}" class="download" target="_blank">
                <figure>
                  <picture
                    <source type="image/webp" srcset="/assets/media/download_24dp_FILL0_wght400_GRAD0_opsz24.webp">
                    <img src="/assets/media/download_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="Download symbol for downloading the podcast episode." width="30px" height="30px" style="aspect-ratio: 1 / 1; padding-top: 35%;"
                  </picture>
                </figure>
              </a>
</div>
        </div>
    </div>
      </main>

      <div class="body-container">
        <nav class="side-nav">
          <div style="color: dimgray;"><strong>Jump to:</strong></div>
        <ul id="nav-links">
          <a href="#top">(Top)</a>
            <!-- Links will be dynamically generated here -->
        </ul>
      </nav>
        <div class="page-contents">
            {%- include affiliate-disclaimer.html -%}
            {{ content }}
        </div>
    </div>

      <div>
        <div>{%- include embed-audio.html -%}</div>
      </div>
    </main>
    <div class="read-more">
      <hr />
      <h3>Read more</h3>
    </div>
      <div class="keep-reading">
      <!-- Begin first post -->
      {%- for post in site.posts limit:1 -%}
      {% if post.url != page.url %}
        <div>
          <a href="{{ post.url | relative_url }}">
            <p>{{ post.title | escape }}</p>
          </a>
          <p>{{ post.excerpt | escape }}</p>
        </div>
      {% endif %}
      {%- endfor -%}
      <!-- End first post -->
      <!-- Begin second post -->
      {%- for post in site.posts limit:1 offset:2 -%}
      {% if post.url != page.url %}
        <div>
          <a href="{{ post.url | relative_url }}">
            <p>{{ post.title | escape }}</p>
          </a>
          <p>{{ post.excerpt | escape }}</p>
        </div>
      {% endif %}
      {%- endfor -%}
      <!-- End second post -->
      <!-- Begin third post -->
      {%- for post in site.posts limit:1 offset:3 -%}
      {% if post.url != page.url %}
        <div>
          <a href="{{ post.url | relative_url }}">
            <p>{{ post.title | escape }}</p>
          </a>
          <p>{{ post.excerpt | escape }}</p>
        </div>
      {% endif %}
      {%- endfor -%}
      <!-- End third post -->
      <!-- Begin fourth post -->
      {%- for post in site.posts limit: 1 offset:4 -%}
      {% if post.url != page.url %}
        <div>
          <a href="{{ post.url | relative_url }}">
            <p>{{ post.title | escape }}</p>
          </a>
          <p>{{ post.excerpt | escape }}</p>
        </div>
      {% endif %}
      {%- endfor -%}
      <!-- End fourth post -->
    </div>
    {%- include custom-footer.html -%}

  </body>

</html>