<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

  <body>

    {%- include header.html -%}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-header-container">
      {%- if page.featured-image -%}
      <div class="post-artwork">
        <figure>
          <div>
            <picture>
             <source type="image/webp" srcset="{{ page.featured-image.link | escape }}.webp"><img src="{{ page.featured-image.link | escape }}.jpg" alt="{{ page.featured-image.alt |escape }}" width="800px" height="400px" style="aspect-ratio: 1.77 / 1;">
            </picture>
          </div>
        </figure>
      </div>
      {%- endif -%}
      <div class="post-header-content">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        {%- if page.excerpt -%}
            <div>{{ page.excerpt | escape }}</div>
            {%- endif -%}
            <div>
        <p class="post-meta">
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">by {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</span> • 
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {{ page.date | date: "%B %-d, %Y" }}
              </time>
        </p>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
    </div>
  </header>
  <div class="blog-post-contents">
    <div class="post-content">
        {%- include affiliate-disclaimer.html -%}
        {{ content }}
    </div>
</div>
<div class="read-more">
  <hr />
  <h3>Read more</h3>
</div>
  <div class="keep-reading">
  <!-- Begin first post -->
  {%- for post in site.posts limit:1 -%}
  {% if post.url != page.url %}
    <div>
      <a href="{{ post.url | relative_url }}">
        <p>{{ post.title | escape }}</p>
      </a>
      <p>{{ post.excerpt | escape }}</p>
    </div>
  {% endif %}
  {%- endfor -%}
  <!-- End first post -->
  <!-- Begin second post -->
  {%- for post in site.posts limit:1 offset:2 -%}
  {% if post.url != page.url %}
    <div>
      <a href="{{ post.url | relative_url }}">
        <p>{{ post.title | escape }}</p>
      </a>
      <p>{{ post.excerpt | escape }}</p>
    </div>
  {% endif %}
  {%- endfor -%}
  <!-- End second post -->
  <!-- Begin third post -->
  {%- for post in site.posts limit:1 offset:3 -%}
  {% if post.url != page.url %}
    <div>
      <a href="{{ post.url | relative_url }}">
        <p>{{ post.title | escape }}</p>
      </a>
      <p>{{ post.excerpt | escape }}</p>
    </div>
  {% endif %}
  {%- endfor -%}
  <!-- End third post -->
  <!-- Begin fourth post -->
  {%- for post in site.posts limit: 1 offset:4 -%}
  {% if post.url != page.url %}
    <div>
      <a href="{{ post.url | relative_url }}">
        <p>{{ post.title | escape }}</p>
      </a>
      <p>{{ post.excerpt | escape }}</p>
    </div>
  {% endif %}
  {%- endfor -%}
  <!-- End fourth post -->
</div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
{%- include custom-footer.html -%}
</body>
</html>